{{ partial "header" . }}
{{ partial "nav" . }}
<div class="container">
  <section class="section">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
      {{ range sort $paginator.Pages }}
      <article>
        {{ partial "post-metadata-list" . }}
        <div class="content">
          {{ partial "banner" . }}
          <!-- supports emoji -->
          {{ .Summary | emojify }}
        </div>
      </article>
      {{ end }}
  </section>
</div>
{{ partial "paginate-list" . }}
{{ partial "footer" . }}