{{ partial "header" . }}
{{ partial "nav" . }}
<div class="container">
  <section class="section">
    <div class="container">
      <article class="article">
        {{ partial "post-metadata-single" . }}
        <div class="content">
          {{ partial "banner" . }}
          {{ partial "table-of-contents" . }}
          <!-- supports emoji -->
          {{ .Content | emojify }}
        </div>
      </article>
    </div>
  </section>
</div>
{{ partial "paginate-single" . }}
{{ partial "footer" . }}