<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="{{ .Params.Description }}">
<meta property="og:description" content="{{ .Params.Description }}" />
<meta name="author" content="{{ .Site.Author }}" />

<meta property="og:title" content="{{ .Title }}" />
<meta property="twitter:title" content="{{ .Title }}" />