<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      <a href="{{ .Site.BaseURL }}/" class="site-avatar"><img src="{{ .Site.Params.avatar }}" /></a>

      <div class="site-info">
        <h1 class="site-name"><a href="{{ .Site.BaseURL }}/">{{ .Site.Title }}</a></h1>
        <p class="site-description">{{ .Site.Params.description }}</p>
        <div class="social-media">
        {{if (isset .Site.Params "github")}}
        <a href="{{ .Site.Params.github }}" target="_blank"><i class="fab fa-github"></i></a>
        {{end}}
        {{if (isset .Site.Params "twitter")}}
        <a href="{{ .Site.Params.twitter }}" target="_blank"><i class="fab fa-twitter"></i></i></a>
        {{end}}
        {{if (isset .Site.Params "mastodon")}}
        <a href="{{ .Site.Params.mastodon }}" target="_blank"><i class="fab fa-mastodon"></i></a>
        {{end}}
        {{if (isset .Site.Params "linkedin")}}
        <a href="{{ .Site.Params.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
        {{end}}
        </div>
      </div>

      <nav>
        <a href="/">Blog</a>
        <a href="/project">Projects</a>
        <a href="/dashboard/blog">Dashboard</a>
      </nav>
    </header>
  </div>
</div>