{{ partial "header" . }}
{{ partial "nav" . }}
<div class="container">
  <section class="section">
    <h1>Dashboard: {{ .Title }}</h1>
    <div class="card card-inverse card-success mb-3 text-center">
      <div class="card-block">
        <h1 class="card-title"><i class="fa fa-sticky-note fa-3x" aria-hidden="true"></i></h1>
        <h3 class="card-title">
          {{ $posts := (where .Site.Pages "Section" "post") }}
          {{ len $posts }} Posts
        </h3>
      </div>
    </div>
    <div class="card card-inverse card-info mb-3 text-center">
      <div class="card-block">
        <h1 class="card-title"><i class="fa fa-tags" aria-hidden="true"></i> Tags</h1>
        <p class="card-text">
          {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            <li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a> <span class="badge badge-pill badge-default">{{ len $taxonomy }}</span></li>
          {{ end }}
        </p>
      </div>
    </div>
  </section>
</div>
{{ partial "footer" . }}